apiVersion: v1
kind: Secret
metadata:
  name: llm-credentials
  namespace: composer-ai-apps-demo
  labels:
    app.kubernetes.io/name: sample-chat
    app.kubernetes.io/component: backend
    app.kubernetes.io/part-of: austin-rhug-2026-demo
type: Opaque
stringData:
  apiKey: replace-me
